# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

# ========================
# Virtual Environments
# ========================
venv/
env/
.venv/
.env
django_project/lib/
django_project/bin/
django_project/include/

# ========================
# Django
# ========================

media/
staticfiles/

# ========================
# IDEs
# ========================
.vscode/
.idea/

# Virtual environment
django_project/lib/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd


# VSCode
.vscode/
