djangorestframework==3.16.1
django-filter==25.1
djangorestframework-simplejwt==5.5.1
django-multiselectfield==1.0.1

langchain_ollama==0.3.7
langgraph==0.6.7
langchain==0.3.27
langchain-community==0.3.29

python-docx==1.2.0
docx2txt==0.9
docx2python==3.5.0

PyMuPDF==1.27.2.3
PyPDF2==3.0.1
pdfplumber==0.11.9

ollama==0.5.3
ddgs==9.5.5
Pillow
gunicorn==23.0.0
whitenoise==6.10.0

fastapi==0.116.1
uvicorn[standard]==0.35.0

wikipedia==1.4.0
django-cors-headers
wikipedia
email-validator==2.2.0
google-auth==2.51.0
python-dotenv>=1.0.0
langchain-google-genai
